@font-face {
  font-family: norse-bold;
  src: url("../fonts/Norse-Bold.otf");
}
body {
  margin: 0;
}
main {
  height: 100vh;
}
.picture {
  background-image: url("../images/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg");
  background-position: center;
  background-size: auto;
  width: 40vw;
  height: 100%;
}
#odin-logo {
  width: 60px;
}

.picture > div:first-child {
  display: flex;
  flex-flow: row wrap;
}
